<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
  <session-factory>
    <property name="connection.driver_class">
      com.mysql.jdbc.Driver
    </property>
    <property name="jdbc.time_zone">
      UTC
    </property>
    <property name="connection.url">
      jdbc:mysql://192.168.1.235/my_test_db?useLegacyDatetimeCode=false
    </property>
    <property name="connection.username">
      root
    </property>
    <property name="connection.password">
      123456
    </property>
    <property name="show_sql">true</property>

    <mapping resource="org/anteestudio/stock/StockClosedTransaction.hbm.xml" />
    <mapping resource="org/anteestudio/stock/StockTransaction.hbm.xml" />
  </session-factory>
</hibernate-configuration>

