<!DOCTYPE html>
<html lang="en" ng-app="myApp">
    <head>
        <title>Stock Transactions</title>
        <meta charset="utf-8" />
        <link href='bootstrap-3.3.7-dist/css/bootstrap.min.css' rel='stylesheet'>
        <script src="js/angular.min.js"></script>
        <script src="js/highcharts.js"></script>
         <script src="js/stock-transactions-controller.js"></script>
    </head>
    <body ng-controller="myCtrl">
        <select class="form-control" ng-model="symbol">
            <option ng-repeat="stockInfo in stockInfos"
                    value="{{stockInfo.symbol}}">
                {{stockInfo.symbol}}-{{stockInfo.name}}
            </option>
        </select>
        <select class="form-control" ng-model="period">
            <option value="1month">1 month</option>
            <option value="3month">3 month</option>
            <option value="6month">6 months</option>
            <option value="1year">1 year</option>
            <option value="all">All</option>
        </select>
        <label>Sorting?
          <input type="checkbox" ng-model="sort">
        </label>
        <br />
        <button class="btn btn-default" ng-click="getData()">Search</button>
        <table class='table table-striped'>
            <thead>
                <tr>
                    <th>
                        id
                    </th>
                    <th>
                        symbol
                    </th>
                    <th>
                        Buy or Sell
                    </th>
                    <th>
                        price
                    </th>
                    <th>
                        quantity
                    </th>
                    <th>
                        datetime
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="stockTransaction in stockTransactions">
                    <td>
                        {{stockTransaction.id}}
                    </td>
                    <td>
                        {{stockTransaction.symbol}}
                    </td>
                    <td>
                        {{stockTransaction.buyOrSell}}
                    </td>
                    <td>
                        {{stockTransaction.price}}
                    </td>
                    <td>
                        {{stockTransaction.quantity}}
                    </td>
                    <td>
                        {{stockTransaction.epochMilli | epochMilliToDatetimeString}}
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
