<!DOCTYPE html>
<html lang="en" ng-app="myApp">
    <head>
        <title>Stock Closed Transactions</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href='bootstrap-3.3.7-dist/css/bootstrap.min.css' rel='stylesheet'>
        <script src="js/angular.min.js"></script>
        <script src="js/highcharts.js"></script>
         <script src="js/stock-closed-transactions-controller.js"></script>
    </head>
    <body ng-controller="myCtrl">
        <select class="form-control" ng-model="period">
            <option value="1month">1 month</option>
            <option value="3month">3 month</option>
            <option value="6month">6 months</option>
            <option value="1year">1 year</option>
            <option value="all">All</option>
        </select>
        <button class="btn btn-default" ng-click="getData()">Search</button>
        <table class='table table-striped'>
            <thead>
                <tr>
                    <th>
                        id
                    </th>
                    <th>
                        symbol
                    </th>
                    <th>
                        buy price
                    </th>
                    <th>
                        buy datetime
                    </th>
                    <th>
                        sell price
                    </th>
                    <th>
                        sell datetime
                    </th>
                    <th>
                        quantity
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="stockClosedTransaction in stockClosedTransactions">
                    <td>
                        {{stockClosedTransaction.id}}
                    </td>
                    <td>
                        {{stockClosedTransaction.symbol}}
                    <td>
                        {{stockClosedTransaction.buyPrice}}
                    </td>
                    <td>
                        {{stockClosedTransaction.buyEpochMilli | epochMilliToDatetimeString}}
                    </td>
                    <td>
                        {{stockClosedTransaction.sellPrice}}
                    </td>
                    <td>
                        {{stockClosedTransaction.sellEpochMilli | epochMilliToDatetimeString}}
                    <td>
                        {{stockClosedTransaction.quantity}}
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
