<!DOCTYPE html>
<html lang="en" ng-app="myApp">
    <head>
        <title>Stock Cash Total History</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href='bootstrap-3.3.7-dist/css/bootstrap.min.css' rel='stylesheet'>
        <script src="js/angular.min.js"></script>
        <script src="js/highcharts.js"></script>
         <script src="js/stock-cash-total-histories-controller.js"></script>
    </head>
    <body ng-controller="myCtrl">
        <select class="form-control" ng-model="symbol">
            <option ng-repeat="stockInfo in stockInfos"
                    value="{{stockInfo.symbol}}">
                {{stockInfo.symbol}}-{{stockInfo.name}}
            </option>
        </select>
        <select class="form-control" ng-model="period">
            <option value="1month">1 month</option>
            <option value="3month">3 month</option>
            <option value="6month">6 months</option>
            <option value="1year">1 year</option>
            <option value="all">All</option>
        </select>
        <select class="form-control" ng-model="percent">
            <option value="value">Value</option>
            <option value="percent">Percentage</option>
        </select>
        <button class="btn btn-default" ng-click="getData()">Search</button>
        <div id="trends"></div>
        <table class='table table-striped'>
            <thead>
                <tr>
                    <th>
                        id
                    </th>
                    <th>
                        symbol
                    </th>
                    <th>
                        total value
                    </th>
                    <th>
                        datetime
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="stockCashTotalHistory in stockCashTotalHistories">
                    <td>
                        {{stockCashTotalHistory.id}}
                    </td>
                    <td>
                        {{stockCashTotalHistory.symbol}}
                    <td>
                        {{stockCashTotalHistory.totalValue}}
                    </td>
                    <td>
                        {{stockCashTotalHistory.epochMilli | epochMilliToDatetimeString}}
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
