<?xml version="1.0" encoding="UTF-8"?>

<beans:beans xmlns="http://www.springframework.org/schema/mvc"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">
  <beans:bean id="mySessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
    <beans:property name="configLocation" value="classpath:hibernate.cfg.xml" />
  </beans:bean>
  <beans:bean id="newHelloWorld" class="NewHelloWorld">
    <beans:property name="message" value="Hello World" />
  </beans:bean>
  <beans:bean id="newspringbean" class="NewHelloWorld2" scope="prototype">
    <beans:property name="message" value="Struts with spring is up and running ..." />
  </beans:bean>
  <beans:bean id="HelloWorldBean" class="org.anteestudio.stock.dashboard.struts2.HelloWorld" scope="prototype">
    <beans:property name="message" value="MESSAGE again from Spring." />
  </beans:bean>
  <beans:bean id="myorder" class="org.anteestudio.stock.dashboard.struts2.rest.example.Order">
    <beans:property name="id" value="1" />
    <beans:property name="name" value="myorderfromsprint" />
    <beans:property name="price" value="3.17" />
  </beans:bean>
  <beans:bean id="orderscontroller" class="org.anteestudio.stock.dashboard.struts2.rest.example.OrdersController" scope="prototype">
    <beans:property name="order" ref="myorder" />
  </beans:bean>
</beans:beans>
